<h3>Add drinks to tab</h3>
<%= link_to "Back to tab for " + @tab.patron.last_name, tab_path(@tab) %>
  <table class="tables">
    <thead>
      <tr>
        <th>Drink</th>
        <th>Price</th>
        <th>Add Item</th>
      </tr>
    </thead>
    <tbody>
      <% @drinks.each do |drink| %>
        <tr>
          <td><%= drink.drink_name %></td>
          <td><%= drink.price %></td>
          <td>
            <%= form_for @tab_item do |f| %>
              <%= f.hidden_field :drink_id, value: drink.id %>
              <%= f.hidden_field :tab_id, value: @tab.id %>
              <%= f.submit "add item" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
