<h3>Add drinks to tab</h3>
<% @drinks.each do |drink| %>
  <ul>
    <li><%= drink.drink_name %> : <%= drink.price %></li>

    <%= form_for @tab_item do |f| %>
    <%= f.hidden_field :drink_id, value: drink.id %>
    <%= f.hidden_field :tab_id, value: @tab.id %>
    <%= f.submit "add item" %>
    <% end %>
  </ul>
<% end %>
<table class="tables">
  <thead>
    <tr>
      <th>Drink</th>
      <th>Price</th>
      <th>Add Item</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row 1 Cell 1</td>
      <td>Row 1 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
    <tr>
      <td>Row 2 Cell 1</td>
      <td>Row 2 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
    <tr>
      <td>Row 3 Cell 1</td>
      <td>Row 3 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
    <tr>
      <td>Row 4 Cell 1</td>
      <td>Row 4 Cell 2</td>
      <td><button>Confirm</button><button>Reject</button></td>
    </tr>
  </tbody>
</table>
