<h1>Active Watering Holes</h1>

<%= form_tag(bars_path, method: "get") do %>
  <%= label_tag(:q, "Search by zip code:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :name => nil %>
<% end %>

 <%= form_tag(bars_path, method: "get") do %>
    <%= submit_tag "Refresh", :name => nil %>
  <% end %>

<ul id="bar-list">

  <% @active_bars.each do |bar| %>
    <li>
      <%= form_for ([@patron,@tab]), {action: "create"} do |f| %>
        <%= link_to bar.name, patron_tabs_path(@patron, @tab), :method => :post %><br>
        <%= f.hidden_field :bar_id, value: bar.id %>
        <%= f.hidden_field :patron_id, value: session[:patron_id] %>
        <%= f.submit "Open Tab" %>
        <% end %>
    </li><br>

  <% end %>
</ul>
