<%= form_tag(sessions_path, method: "post") do %>

  <%= label_tag(:email, "Email") %>
  <p><%= email_field :email, placeholder: "Email" %> </p>

  <%= label_tag(:password, "Password") %>
  <p><%= password_field :password, placeholder: "Password" %> </p>

  <p><%= submit_tag ("You're Back!") %></p>
<% end %>
