<%= image_tag("miniBARlogo.png", size: "50%") %>
<span>Tab: 000<%= @tab.id %></span><br>
<span>Total: $<%= @tab.total_amount %></span>

<h4>Have a nice night <%= @tab.patron.first_name %>!</h4>

<p>Don't forget to help the person that helped you, now go get an Uber!</p>
<%= form_tag(tab_path(@tab), method: "put") do %>
  <label>Tip Amount:</label>
  <%= text_field_tag :tip, (@tab.total_amount * 0.2).round(2) %>
  <%= submit_tag ("close tab") %>
<% end %>
