<% if session[:bar_id] %>
  <h1 class="page-headline">Tab For: <%= @tab.patron.last_name %></h1>
<% elsif session[:patron_id] %>
  <h2><%= @tab.bar.name %></h2>
<% end %>
<h3 class="tab-total">Total: $ <%= @tab.show_total %></h3>
<br>

  <ul class="patron-drink-show">
<% if session[:bar_id] %>
    <% @tab.tab_items.each do |item| %>
      <li><%= item.drink.drink_name %> ~
        $ <%= item.drink.price %>
        <%= link_to "remove", tab_item_path(item, :format => :js), id: "remove-drink", remote: true, :method => :delete %>
        <%= render partial: "drinks/new_drink", locals: { tab: @tab, tab_item: create_new_tab_item, drink: item.drink } %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if session[:patron_id] %>
  <% @tab.tab_items.each do |item| %>
    <ul>
      <li><%= item.drink.drink_name %> ~
      $ <%= item.drink.price %></li>
    </ul>
<% end %>
  <% end %>

<% if session[:patron_id] %>
  </ul>
  <div class="modal">
    <label for="modal-1">
      <div class="modal-trigger">Close tab</div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-1"></div>
        <h1>Add Your Tip</h1>
        <%= render partial: "edit_tab", locals: { tab: @tab } %>
      </div>
    </div>
  </div>
<% elsif session[:bar_id] %>
  <button><%= link_to "close tab", tab_path(@tab), :method => :put %></button>
<% end %>


<% if session[:bar_id] %>
  <div class="modal">
    <label for="modal-2">
      <div class="modal-trigger">Add Item</div>
    </label>
    <input class="modal-state" id="modal-2" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-2"></div>
          <h3>Add drinks to tab</h3>
          <%= link_to "Back to tab for " + @tab.patron.last_name, tab_path(@tab) %>
          <table class="tables">
            <thead>
              <tr>
                <th>Drink</th>
                <th>Price</th>
                <th>Add Item</th>
              </tr>
            </thead>
            <tbody>
              <% @drinks.each do |drink| %>
                <tr>
                  <td class="drink-name"><%= drink.drink_name %></td>
                  <td class="drink-price"><%= drink.price %></td>
                  <td>
                    <%= render partial: "drinks/new_drink", locals: { tab: @tab, tab_item: @tab_item, drink: drink } %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
<% end %>

<% if session[:bar_id] %>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Drinks</th>
        <th>Price</th>
        <th>Add or Remove</th>
      </tr>
    </thead>
    <% @tab.tab_items.each do |item| %>
      <tbody>
        <tr>
          <td><%= item.drink.drink_name %></td>
          <td><%= item.drink.price %></td>
          <td>
            <button>
              <%= render partial: "drinks/new_drink", locals: { tab: @tab, tab_item: create_new_tab_item, drink: item.drink } %>
            </button>
            <button>
              <%= link_to "remove", tab_item_path(item, :format => :js), id: "remove-drink", remote: true, :method => :delete %>
            </button>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>

<% if session[:patron_id] %>

  <div class="modal">
    <label for="modal-1">
      <div class="modal-trigger">Close tab</div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-1"></div>
        <h1>Add Your Tip</h1>
        <%= render partial: "edit_tab", locals: { tab: @tab } %>
      </div>
    </div>
  </div>
<% elsif session[:bar_id] %>
  <button>
    <%= link_to "close tab", tab_path(@tab), :method => :put %>
  </button>
<% end %>

<% if session[:patron_id] %>
  <table class="table-minimal">
    <thead>
      <tr>
        <th>Drink</th>
        <th>Price</th>
      </tr>
    </thead>
    <% @tab.tab_items.each do |item| %>
      <tbody>
        <tr>
          <td><%= item.drink.drink_name %></td>
          <td>$ <%= item.drink.price %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>




