<% if session[:bar_id] %>
  <h2>Tab For: <%= @tab.patron.last_name %></h2>
<% elsif session[:patron_id] %>
  <h2><%= @tab.bar.name %></h2>
<% end %>
<h3 class="tab-total">Total: $ <%= @tab.show_total %></h3>
<br>

<% if session[:bar_id] %>
  <button><%= link_to "Add Item", tab_drinks_path(@tab) %></button>
  <ul class="patron-drink-show">
    <% @tab.tab_items.each do |item| %>
      <li><%= item.drink.drink_name %> ~
        $ <%= item.drink.price %>
        <%= link_to "remove", tab_item_path(item, :format => :js), id: "remove-drink", remote: true, :method => :delete %>
        <%= render partial: "drinks/new_drink", locals: { tab: @tab, tab_item: create_new_tab_item, drink: item.drink } %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if session[:patron_id] %>
  <% @tab.tab_items.each do |item| %>
    <ul>
      <li><%= item.drink.drink_name %> ~
      $ <%= item.drink.price %></li>
    </ul>
<% end %>
  <% end %>

<% if session[:patron_id] %>
  <div class="modal">
    <label for="modal-1">
      <div class="modal-trigger">Close tab</div>
    </label>
    <input class="modal-state" id="modal-1" type="checkbox" />
    <div class="modal-fade-screen">
      <div class="modal-inner">
        <div class="modal-close" for="modal-1"></div>
        <h1>Add Your Tip</h1>
        <%= render partial: "edit_tab", locals: { tab: @tab } %>
      </div>
    </div>
  </div>
<% elsif session[:bar_id] %>
  <button><%= link_to "close tab", tab_path(@tab), :method => :put %></button>
<% end %>

