<% if session[:bar_id] %>
  <h2>Tab For: <%= @tab.patron.last_name %></h2>
<% elsif session[:patron_id] %>
  <h2><%= @tab.bar.name %></h2>
<% end %>
<h3 class="tab-total">Total: $ <%= @tab.show_total %></h3>
<br>

<% if session[:bar_id] %>
  <button><%= link_to "Add Item", tab_drinks_path(@tab) %></button>
  <ul class="patron-drink-show">
    <% @tab.tab_items.each do |item| %>
      <li><%= item.drink.drink_name %> ~
        $ <%= item.drink.price %>
        <%= link_to "remove", tab_item_path(item, :format => :js), id: "remove-drink", remote: true, :method => :delete %>
        <%= render partial: "drinks/new_drink", locals: { tab: @tab, tab_item: create_new_tab_item, drink: item.drink } %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if session[:patron_id] %>
  <% @tab.tab_items.each do |item| %>
    <ul>
      <li><%= item.drink.drink_name %> ~
      $ <%= item.drink.price %></li>
    </ul>
<% end %>
  <% end %>

<% if session[:patron_id] %>
  <button><%= link_to "close tab", edit_tab_path(@tab) %></button>
<% elsif session[:bar_id] %>
  <button><%= link_to "close tab", tab_path(@tab), :method => :put %></button>
<% end %>
